

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            New Receipt
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Receipts</a></li>
            <li class="active">New Receipt</li>
        </ol>
    </section>

    <section class="content" ng-controller="ProductServiceController">


                    <!-- general form elements disabled -->
                    <div class="box box-warning">
                        <!--<div class="box-header">
                            <h3 class="box-title">Product/Service Info</h3>
                        </div>--><!-- /.box-header -->
                        <div class="box-body">
                                    
                                <!-- Save Receipt Button -->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <button class="btn btn-primary" ng-click="create(productServiceDetails)">Save Receipt</button>
                                        <button class="btn btn-primary">Cancel</button>
                                    </div>
                                </div>

                                <!-- Product/Services info -->

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <h3>Product/Service Info</h3>
                                    </div>
                                            
                                </div>
                                    <div class="row top10">
                                        <!-- Category -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Category</label>
                                        <select id="category" class="form-control">
                                            <option value="1">Computers - Hardware</option>
                                            <option value="2">Electorics</option>
                                            <option value="3">Home - Furniture - Garden Supplies</option>
                                        <!--    <option>Accessories</option>
                                            <option>Others</option>-->
                                        </select>
                                    </div>
                                        <!-- Sub-Category -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Sub-Category</label>
                                        <select id="subCategory" class="form-control">
                                            <option value="1">Mobiles</option>
                                            <option value="2">Furniture</option>
                                            <option value="3">Home Appliences</option>
                                            <option value="4">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row top17">
                                        <!-- Product Name -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Product/Service Name</label>
                                        <input type="text" ng-model="productServices.ServiceName" class="form-control" placeholder="Product or Service Name...">
                                    </div>
                                    <!-- Purchase Date -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Purchase Date (In case of no receipt)</label>
                                        <input type="date"  ng-model="productServices.ServicePurchaseDate" class="form-control" placeholder="mm/dd/yyyy">
                                    </div>
                                </div>
                                        
                                <!-- Receipt info -->

                                <div class="row top15">
                                    <div class="col-xs-12 col-sm-6">
                                        <h3>Receipt Info</h3>
                                    </div>
                                            
                                </div>
                                    <div class="row top10">
                                        <!-- Receipt Date -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Receipt Date</label>
                                        <input type="date" ng-model="productServices.ReceiptDate" class="form-control" placeholder="mm/dd/yyyy">
                                    </div>
                                        <!-- Receipt Number -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Receipt Number (If any)</label>
                                        <input type="text" ng-model="productServices.SerialNumber" class="form-control" placeholder="Receipt Number...">
                                    </div>
                                </div>
                                <div class="row top17">
                                        <!-- Receipt Title -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Receipt Title (If any)</label>
                                        <input type="text" ng-model="productServices.ReceiptTitle" class="form-control" placeholder="Receipt Title...">
                                    </div>
                                    <!-- Purchase Date -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Description (If any)</label>
                                        <textarea class="form-control" ng-model="productServices.ReceiptDescription" placeholder="Description..."></textarea>
                                    </div>
                                </div>
                                <div class="row top17">
                                        <!-- Receipt Image File -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label for="receiptImageFile">Upload Receipt Image</label>
                                                
                                        <input type="file" id="receiptFileUpload" onchange="angular.element(this).scope().receiptFilesChanged(this)" multiple>
                                        <li ng-repeat="file in receiptSelectedFiles">{{file.name}}</li>
                                        <button class="top5" ng-click="receiptFileUpload()">Upload</button>
                                                
                                        <p class="help-block">Please upload image files only.</p>
                                                
                                    </div>
                                </div>
                                <div class="row">
                                        <!-- Receipts uploaded files -->
                                    <div class="col-xs-12 col-sm-6">
                                        <div class=" table-responsive">
                                            <table id="tbl_receipts" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Image</th>
                                                        <th colspan="2" style="text-align:center;">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng:repeat="file in productServices.ReceiptUploadedFiles">
                                                    <tr>
                                                        <td>{{file.Title}}</td>
                                                        <td><a style="cursor:pointer;" ng-click="previewFile(file.Path, file.Title)">Preview</a></td>
                                                        <td><a style="cursor:pointer;" ng-click="deleteFile(file.Id, file.Title)">Remove</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                        
                                <!-- Warranty Card info -->

                                <div class="row top15">
                                    <div class="col-xs-12 col-sm-6">
                                        <h3>Warranty Card Info</h3>
                                    </div>
                                            
                                </div>
                                    <div class="row top10">
                                        <!-- Warranty Expiry Date -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Warranty Expiry Date</label>
                                        <input type="date" ng-model="productServices.WarrantyExpireOn" class="form-control" placeholder="mm/dd/yyyy">
                                    </div>
                                        <!-- Receipt Number -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Warranty Card Number (If any)</label>
                                        <input type="text" ng-model="productServices.WarrantyCardNumber" class="form-control" placeholder="Warranty Card Number...">
                                    </div>
                                </div>
                                <div class="row top17">
                                        <!-- Warranty Card Title -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Warranty Card Title (If any)</label>
                                        <input type="text" ng-model="productServices.WarrantyTitle" class="form-control" placeholder="Warranty Card Title...">
                                    </div>
                                    <!-- Warranty Card Description -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label>Description (If any)</label>
                                        <textarea class="form-control" ng-model="productServices.WarrantyDescription" placeholder="Description..."></textarea>
                                    </div>
                                </div>
                                <div class="row top17">
                                        <!-- Warranty Card Image File -->
                                    <div class="col-xs-12 col-sm-6">
                                        <label for="warrantyCardImageFile">Upload Warranty Card Image</label>
                                        <input type="file" id="warrantyCardFileUpload" onchange="angular.element(this).scope().warrantyCardFilesChanged(this)" multiple>
                                        <li ng-repeat="file in warrantyCardSelectedFiles">{{file.name}}</li>
                                        <button class="top5" ng-click="warrantyCardFileUpload()">Upload</button>
                                                
                                        <p class="help-block">Please upload image files only.</p>
                                    </div>
                                </div>
                                <div class="row">
                                        <!-- Warranty Cards uploaded files -->
                                    <div class="col-xs-12 col-sm-6">
                                        <div class=" table-responsive">
                                            <table id="Table1" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Image</th>
                                                        <th colspan="2" style="text-align:center;">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng:repeat="file in productServices.WarrantyCardUploadedFiles">
                                                    <tr>
                                                        <td>{{file.Title}}</td>
                                                        <td><a style="cursor:pointer;" ng-click="previewFile(file.Path, file.Title)">Preview</a></td>
                                                        <td><a style="cursor:pointer;" ng-click="deleteFile(file.Id, file.Title)">Remove</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Save Receipt Button -->
                                <div class="row top17">
                                    <div class="col-xs-12 col-sm-6">
                                        <button class="btn btn-primary" ng-click="create(productServiceDetails)">Save Receipt</button>
                                        <button class="btn btn-primary">Cancel</button>
                                    </div>
                                </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <!--Image Preview Modal Dialogue html-->
                    <div class="modal fade" id="modalPreviewImage">
                        <div class="modal-dialog" style="width: 850px;">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalTitle">Modal title</h4>
                            </div>
                            <div class="modal-body">
                            <img id="imgFile" src="#" width="800" height="500" title="" alt="" />
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal --> 
                  




                    



                </section>
	