	<!-- container -->
	<div ng-app="customersApp" ng-controller="LoginController" class="container">
	
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Sign in</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			    		<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Sign in to your account</h3>
							<p class="text-center text-muted">If you are not a registered user, Please <b><a href="#/signup">Register</a></b> To create an account on ORMS.</p>
							<hr>
							
							<form name="loginForm" ng-submit="login(credentials)" novalidate>
								<div class="top-margin" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
									<label>Username/Email <span class="text-danger">*</span></label>
									<input name="username" type="text" ng-model="credentials.username" class="form-control" required>
                                    <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">You username/email is required.</p>
								</div>
								<div class="top-margin" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
									<label>Password <span class="text-danger">*</span></label>
									<input name="password" type="password" ng-model="credentials.password" class="form-control" required>
                                     <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b><a href="">Forgot password?</a></b>
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit" ng-disabled="loginForm.$invalid">Sign in</button>
									</div>
								</div>
                                <div class="top-margin">
									<b>Or Sign in with:</b>
								</div>
                                <div class="row"> 
                                    <!--use this class to align image on center "span7 text-center"-->
                                    <div class="col-lg-8">
									    <a href="#"><span class="facebook-login"></span></a>
                                    </div>
								</div>

							</form>
						</div>
					</div>

				</div>
				                 

			</article>
			<!-- /Article -->

		</div>
	</div>	
