	<!-- container -->
	<div ng-app="customersApp" ng-controller="FileUploadController" class="container">
	
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Test File Upload</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			    		<div class="panel panel-default">
						<div class="panel-body">
							
							<form>

                                <input type="file" onchange="angular.element(this).scope().filesChanged(this)" multiple />
                                <button ng-click="upload()">Upload</button>
                                <li ng-repeat="file in files">{{file.name}}</li>
							</form>
							
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Preview</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody ng:repeat="file in receiptFiles">
                                    <tr>
                                        <td>{{file.Title}}</td>
                                        <td><a ng-click="previewFile(file.Path, file.Title)">Preview</a></td>
                                        <td><a ng-click="deleteFile(file.Id, file.Title)">Remove</a></td>
                                    </tr>
                                </tbody>
                            </table>

						</div>
					</div>

				</div>
				
                <!--Image Preview Modal Dialogue html-->
                  
                <div class="modal fade" id="modalPreviewImage">
                  <div class="modal-dialog" style="width: 800px;">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modalTitle">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <img id="imgFile" src="#" width="800" height="500" title="" alt="" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->               

			</article>
			<!-- /Article -->

		</div>
	</div>	
