<!DOCTYPE html>
<html>
<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />

    <script src="Scripts/jquery.min.js"></script>    
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/controllers.js"></script>
</head>
<body ng-app="customersApp">
  <div ng-controller="LoginController" class="container">
    <h1>Events</h1>
    <hr/>

 <!--   <label for="username">Username:</label>
  <input type="text" id="username"
         >
  <label for="password">Password:</label>
  <input type="password" id="password"
         >
  <button type="submit">Login</button>
  </div>-->

    <form name="loginForm" ng-submit="login(credentials)"
      novalidate>
  <label for="username">Username:</label>
  <input type="text" id="Text1"
         ng-model="credentials.username">
  <label for="password">Password:</label>
  <input type="password" id="password1"
         ng-model="credentials.password">
  <button type="submit">Login</button>
</form>
 </div>
</body>
</html>